.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
}

.column-20 {
  flex-basis: 20%;
}

.column-50 {
  flex-basis: 50%;
}

.column-80 {
  flex-basis: 80%;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-auto {
  flex-basis: auto;
}

.col-auto {
  flex-basis: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .col-auto {
    flex-basis: 40%;
  }
}
