header {
  background-color: #7fdfff;
  color: white;
  font-size: 18px;
}

body {
  background-color: #f5fcff;
}

.logo {
  font-size: 36px;
  margin: 7px 0 5px 20px;
  font-family: Cookie, cursive;
}

.logo-text:hover {
  color: #d17196;
  transition: color 0.2s ease-in-out;
}

.fa-bars {
  font-size: 175%;
}

.align-center {
  align-items: center;
}

.title-create {
  font-family: "Josefin Sans", sans-serif;
  height: 60vh;
  display: flex;
  align-items: center;
}

.title-form {
  width: 250px;
  background-color: #d17196;
  border: none;
  height: 40px;
  border-radius: 25px;
  margin: 0 auto;
  text-align: center;
  padding-right: 20px;
  color: white;
}

.center-justify {
  justify-content: center;
}

.title-form::placeholder {
  color: white;
}

.title-submit-button {
  position: absolute;
  right: 5px;
  top: 6px;
  color: #7fdfff;
  cursor: pointer;
  font-size: 1.5em;
  transition: color 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
}

.title-submit-button:hover {
  color: rgb(0, 175, 234);
}

.title-submit {
  position: relative;
}

.title-submit > input:focus {
  outline-color: #7fdfff;
}

.hamburger {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.hamburger:hover {
  color: #d17196;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
}

.overlay.visible {
  visibility: visible;
}

.menu-drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  color: white;
  background-color: #d17196;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  font-family: "Josefin Sans", sans-serif;
}

.menu-drawer.open {
  transform: translateX(0);
}

a {
  text-decoration: none;
  color: #f5fcff;
}

a:visited {
  color: #f5fcff;
}

a:hover {
  cursor: pointer;
}

.menu > a {
  display: block;
  padding: 4px 0;
}

.menu > a:hover {
  text-decoration: underline;
}

textarea {
  width: 99%;
  margin-bottom: 20px;
  border-color: #7fdfff;
  border-radius: 5px;
}

.prompt-create {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  height: 40vh;
  display: flex;
  align-items: center;
}

#prompt-input {
  margin-bottom: 40px;
}

.story-title {
  font-family: "Josefin Sans", sans-serif;
  margin-left: 20px;
  text-decoration: underline;
}

.prompt-submit {
  text-align: right;
}

.prompt-submit-button {
  border: none;
  background-color: #d17196;
  color: white;
  height: 30px;
  width: 75px;
  border-radius: 4px;
  font-weight: lighter;
}

textarea:focus {
  outline-color: #d17196;
}

.full-story {
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 1.5;
}

.prompt-submit-button-disabled {
  border: none;
  background-color: #7fdfff;
  color: white;
  height: 30px;
  width: 75px;
  border-radius: 4px;
  font-weight: lighter;
}

.story-save-button {
  border: none;
  background-color: #d17196;
  color: white;
  height: 30px;
  width: 75px;
  border-radius: 4px;
  font-weight: lighter;
}

.return-button {
  border: none;
  background-color: #8e8e8e;
  color: white;
  height: 30px;
  width: 75px;
  border-radius: 4px;
  font-weight: lighter;
}

.space-between {
  justify-content: space-between;
}

.prompt-submit-button:hover,
.story-save-button:hover,
.return-button:hover {
  cursor: pointer;
}

.mapped-story {
  background-color: #d17196;
  border-radius: 10px;
  height: 75px;
  text-align: center;
  border: 3px solid #7fdfff;
  margin: 10px;
  line-height: 70px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  font-weight: lighter;
}

.mapped-story:hover {
  cursor: pointer;
}
